.swiper {
    width: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;

}

swiper-container {
    width: 340px;
    height: 520px;
    
}

swiper-slide {

    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    flex-direction: column;
    background-color: #fff;
}

.pokemon {
    width: 340px;
    height: 300px;
}

/* swiper-slide:nth-child(2n) {

  }

  swiper-slide:nth-child(3n) {

  }

  swiper-slide:nth-child(4n) {

  }

  swiper-slide:nth-child(5n) {

  } */







  .buy{
    width: 100px;
    height: 50px;
    font-size: 25px;
  }
  .name{
    width: 200px;
    height: 45px;
  }