* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.box {
    width: 1000px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.questionansver {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

}
.right{
    align-items: center;
    display: flex;
    justify-content: center;
}


.answer {
    width: 300px;
    display: flex;
    position: relative;
    color: red;
}

.question {
    width: 300px;
    display: flex;
    position: relative;
    color: blue;
}
